<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
    $(document).ready(function() {
        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            editable: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: [
                {
                    title: 'My Event',
                    start: '2015-10-03',
                    description: 'This is a cool event'
                }
                // more events here
            ],
            eventSource: [{
                url: '/events'
            }]
        });

    });
    $(document).ready(function() {
        $( "#tabs" ).tabs();
    });
</script>
</head>
<body>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Calendar</a></li>
    <li><a href="#tabs-2">Events</a></li>
  </ul>
  <div id="tabs-1">
    <div id='calendar'></div>
  </div>
  <div id="tabs-2">
    <h1>Listing events</h1>

    <table>
      <tr>
        <th>Title</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>All day</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= event.starts_at %></td>
            <td><%= event.ends_at %></td>
            <td><%= event.all_day %></td>
            <td><%= event.description %></td>
            <td><%= link_to 'Show', event %></td>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
            <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
      <% end %>
    </table>

    <%= link_to 'New Event', new_event_path %>

  </div>
</div>

</body>
</html>