<head>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script type="text/javascript">
        $(document).ready(function() {
            try {
                generateCalendar();
            } catch(err) { // For explanation, see lengthy angry comment below.
                $('#calendar').fullCalendar({
                    editable: true,
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    events: rawEvents
                });
            }
        });
        $(document).ready(function() {
            $( "#tabs" ).tabs();
        });

        function generateCalendar() {
            // AJAX call to events.json
            var request = new XMLHttpRequest();
            request.onreadystatechange = function() {
                var eventz = [];
                var rawEvents = [];
                if (request.readyState == 4 && request.status == 200) {
                    eventsLength = request.responseText.length;
                    console.log(request.responseText);
                    rawEvents = $.parseJSON(request.responseText);
                    if ( rawEvents.length == 0 ) {
                        $('#calendar').fullCalendar({
                            editable: false,
                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month,agendaWeek,agendaDay'
                            }
                        });
                        return;
                    }
                }

                rawEvents[0].anyVariable; // This needs to be here. Why? Who the fuck knows.
                                    // But, without it, events don't show up on the calendar.
                                    // Don't believe me? I wouldn't. Delete it and see for
                                    // yourself. Also, enclosing it inside of a try-catch or
                                    // if statement causes the calendar to not show events, so
                                    // I've resorted to putting this whole thing in a function
                                    // to try-catch at a higher level, in case rawEvents[0]
                                    // is undefined.

                $('#calendar').fullCalendar({
                    editable: false,
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    events: rawEvents
                });
            };
            request.open("GET", "events.json", true);
            request.send();
        }
    </script>
</head>
<body>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Calendar</a></li>
    <li><a href="#tabs-2">Events</a></li>
  </ul>
  <div id="tabs-1">
    <div id='calendar'></div>
  </div>
  <div id="tabs-2">
    <h1>Listing events</h1>

    <table>
      <tr>
        <th>Title</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>All day</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= event.starts_at %></td>
            <td><%= event.ends_at %></td>
            <td><%= event.all_day %></td>
            <td><%= event.description %></td>
            <td><%= link_to 'Show', event %></td>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
            <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
      <% end %>
    </table>

    <%= link_to 'New Event', new_event_path %>

  </div>
</div>

