<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <%= form_tag("/stocks/stock", method: "get") do %>
        <%= label_tag(:ticker, "Search for:") %>
        <%= text_field_tag(:ticker) %>
        <%= submit_tag("Search") %>
    <% end %>
    <p id="notice"><%= alert %></p>
    <h1> <%= @name %> ( <%= @stock %> )</h1>
    <br>
    Asking Price: <%= @ask %>
    <br>
    Daily High: <%= @high %>
    <br>
    Daily Low: <%= @low %>
    <br>
    Year High: <%= @high52 %>
    <br>
    Year Low: <%= @low52 %>
    <br>
    Closing Price: <%= @close %>
    <br>
    <%=
        high_chart("line", @show)
    %>

    <%= form_tag("/stocks/stock", method: "post") do %>
        <%= label_tag (:transaction) %><br>
        <%= number_field_tag (:transaction) %>
        <%= submit_tag("Stock Transaction", name: 'transaction') %>
    <% end %>

</body>
</html>
