    <%= javascript_include_tag "chat" %>

    <div class="col-md-4">
      <div class="panel panel-primary">
          <div class="panel-heading">Facebook Status</div>
          <div class="panel-body">
              <% if @current_user != nil%>
                  <form action="/status" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    Status
                    </br>
                        <textarea class="form-control input-md" rows="4" cols="35" name="message"></textarea>
                    </br>
                    <input class="btn btn-primary" type="submit" value="Submit">
                  </form>
              <% end %>


              </br>

              <%= render :template => 'facebook/feed' %>
          </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Stocks</div>
          <div class="panel-body">

          </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Chat</div>
          <div class="panel-body">
              <div id="chatMessages">
                  <% @messages.each do |message| %>
                      <div class="well well-sm"><%= message.user.name %> : <%=message.message %></div>
                  <% end %>
              </div>

              <div id="chatBox">
                  <%= form_for(Message.new, :url => {:action => 'create', controller: 'messages', :format => :js}, remote: true) do |f| %>
                      <div class="field form-group">
                        <%= f.label :message%><br>
                        <%= f.text_area :message , class: "form-control input-md" %>
                      </div>

                      <div class="actions">
                        <%= f.submit "Send Message", class: "btn btn-primary" %>
                      </div>
                  <% end %>
              </div>
          </div>
        </div>
    </div>
